13_Control_de_Flujo_Avanzado/01_Patron_Rate_Limiting.json
{
  "nodes": [
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "uuid-1",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "uuid-2",
      "name": "Wait (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [680, 300],
      "webhookId": "webhook-id"
    },
    {
      "parameters": {
        "url": "https://api.ejemplo.com/data",
        "authentication": "none",
        "options": {}
      },
      "id": "uuid-3",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Split In Batches\"].context[\"noItemsLeft\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "uuid-4",
      "name": "If Loop Finished",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If Loop Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Loop Finished": {
      "main": [
        [],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}