plantillas/basicas/01_Start.json
{
  "name": "01_Workflow_Basico_Start",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Este nodo inicia el workflow manualmente. Es perfecto para probar workflows o cuando necesitas control total sobre cuándo se ejecuta."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mensaje",
              "value": "¡Hola mundo! Este es mi primer workflow en n8n."
            },
            {
              "name": "fecha",
              "value": "={{ new Date().toLocaleDateString() }}"
            },
            {
              "name": "usuario",
              "value": "Principiante en n8n"
            }
          ]
        }
      },
      "id": "set-data",
      "name": "Configurar Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300],
      "notes": "Este nodo crea datos desde cero. Es como llenar un formulario con información que queremos usar en el workflow."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.usuario}}",
              "value2": "Principiante en n8n"
            }
          ]
        }
      },
      "id": "check-user",
      "name": "¿Es Principiante?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300],
      "notes": "Este nodo toma una decisión. Si el usuario es principiante, va por un camino. Si no, va por otro."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "respuesta",
              "value": "¡Perfecto! Estás empezando tu viaje en n8n. Este workflow te ayudará a entender los conceptos básicos."
            }
          ]
        }
      },
      "id": "message-beginner",
      "name": "Mensaje para Principiante",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 180],
      "notes": "Mensaje especial para usuarios principiantes."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "respuesta",
              "value": "¡Excelente! Ya tienes experiencia con n8n. Este workflow te servirá como repaso de los conceptos básicos."
            }
          ]
        }
      },
      "id": "message-expert",
      "name": "Mensaje para Experto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 420],
      "notes": "Mensaje para usuarios con más experiencia."
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Configurar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Datos": {
      "main": [
        [
          {
            "node": "¿Es Principiante?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Principiante?": {
      "main": [
        [
          {
            "node": "Mensaje para Principiante",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje para Experto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
