plantillas/basicas/02_Manual_Trigger.json
{
  "name": "02_Manual_Trigger_Ejemplo",
  "nodes": [
    {
      "parameters": {
        "options": {
          "fields": {
            "values": [
              {
                "name": "nombre",
                "type": "string",
                "required": true,
                "displayName": "Tu Nombre"
              },
              {
                "name": "edad",
                "type": "number",
                "required": true,
                "displayName": "Tu Edad"
              },
              {
                "name": "ciudad",
                "type": "string",
                "required": false,
                "displayName": "Tu Ciudad"
              }
            ]
          }
        }
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Este nodo permite ingresar datos manualmente al ejecutar el workflow. Es útil para probar workflows con diferentes datos."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "saludo",
              "value": "=¡Hola {{$json.nombre}}! Tienes {{$json.edad}} años."
            },
            {
              "name": "categoria_edad",
              "value": "={{$json.edad < 18 ? 'Joven' : $json.edad < 65 ? 'Adulto' : 'Adulto Mayor'}}"
            },
            {
              "name": "ubicacion",
              "value": "={{$json.ciudad ? 'Vives en ' + $json.ciudad : 'No especificaste tu ciudad'}}"
            }
          ]
        }
      },
      "id": "procesar-datos",
      "name": "Procesar Información",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300],
      "notes": "Este nodo toma los datos del Manual Trigger y los procesa para crear un mensaje personalizado."
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.edad}}",
              "operation": "smaller",
              "value2": 18
            }
          ]
        }
      },
      "id": "verificar-edad",
      "name": "¿Es Menor de Edad?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300],
      "notes": "Este nodo verifica si la persona es menor de edad para enviar diferentes mensajes."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mensaje_final",
              "value": "={{$json.saludo}} Eres menor de edad, ¡que tengas un excelente día en la escuela! 🎒"
            }
          ]
        }
      },
      "id": "mensaje-menor",
      "name": "Mensaje para Menor",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 180],
      "notes": "Mensaje especial para menores de edad."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mensaje_final",
              "value": "={{$json.saludo}} Eres {{$json.categoria_edad}}. {{$json.ubicacion}}. ¡Que tengas un gran día! 🌟"
            }
          ]
        }
      },
      "id": "mensaje-adulto",
      "name": "Mensaje para Adulto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 420],
      "notes": "Mensaje para adultos con información completa."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Procesar Información",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Información": {
      "main": [
        [
          {
            "node": "¿Es Menor de Edad?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Menor de Edad?": {
      "main": [
        [
          {
            "node": "Mensaje para Menor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje para Adulto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
