plantillas/basicas/05_Switch.json
{
  "name": "05_Switch_Multiples_Rutas",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Iniciamos el workflow para demostrar el nodo Switch"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "producto",
              "value": "Laptop"
            },
            {
              "name": "categoria",
              "value": "electronica"
            },
            {
              "name": "urgencia",
              "value": "alta"
            }
          ],
          "number": [
            {
              "name": "precio",
              "value": 1299.99
            }
          ]
        }
      },
      "id": "datos-pedido",
      "name": "Datos del Pedido",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300],
      "notes": "Creamos datos de un pedido para demostrar c칩mo el Switch puede rutear seg칰n diferentes criterios"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.categoria}}",
        "rules": {
          "rules": [
            {
              "value2": "electronica",
              "output": 0
            },
            {
              "value2": "ropa",
              "output": 1
            },
            {
              "value2": "hogar",
              "output": 2
            },
            {
              "value2": "libros",
              "output": 3
            }
          ]
        }
      },
      "id": "switch-categoria",
      "name": "Switch por Categor칤a",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [680, 300],
      "notes": "El nodo Switch eval칰a la categor칤a del producto y env칤a el flujo por diferentes rutas seg칰n el valor"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "departamento",
              "value": "Tecnolog칤a"
            },
            {
              "name": "procesador",
              "value": "Equipo especializado en electr칩nicos"
            },
            {
              "name": "tiempo_estimado",
              "value": "2-3 d칤as h치biles"
            }
          ]
        }
      },
      "id": "procesar-electronica",
      "name": "Procesar Electr칩nica",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 120],
      "notes": "Salida 0: Procesamiento espec칤fico para productos electr칩nicos"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "departamento",
              "value": "Moda"
            },
            {
              "name": "procesador",
              "value": "Equipo de tallas y calidad textil"
            },
            {
              "name": "tiempo_estimado",
              "value": "1-2 d칤as h치biles"
            }
          ]
        }
      },
      "id": "procesar-ropa",
      "name": "Procesar Ropa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 240],
      "notes": "Salida 1: Procesamiento espec칤fico para ropa y accesorios"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "departamento",
              "value": "Hogar"
            },
            {
              "name": "procesador",
              "value": "Equipo de productos para el hogar"
            },
            {
              "name": "tiempo_estimado",
              "value": "3-5 d칤as h치biles"
            }
          ]
        }
      },
      "id": "procesar-hogar",
      "name": "Procesar Hogar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 360],
      "notes": "Salida 2: Procesamiento espec칤fico para productos del hogar"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "departamento",
              "value": "Cultura"
            },
            {
              "name": "procesador",
              "value": "Equipo de medios y entretenimiento"
            },
            {
              "name": "tiempo_estimado",
              "value": "1 d칤a h치bil"
            }
          ]
        }
      },
      "id": "procesar-libros",
      "name": "Procesar Libros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 480],
      "notes": "Salida 3: Procesamiento espec칤fico para libros y medios"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "departamento",
              "value": "General"
            },
            {
              "name": "procesador",
              "value": "Equipo de procesamiento general"
            },
            {
              "name": "tiempo_estimado",
              "value": "5-7 d칤as h치biles"
            }
          ]
        }
      },
      "id": "procesar-otros",
      "name": "Procesar Otros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 600],
      "notes": "Salida por defecto: Para productos que no coinciden con ninguna categor칤a espec칤fica"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.urgencia}}",
        "rules": {
          "rules": [
            {
              "value2": "alta",
              "output": 0
            },
            {
              "value2": "media",
              "output": 1
            },
            {
              "value2": "baja",
              "output": 2
            }
          ]
        }
      },
      "id": "switch-urgencia",
      "name": "Switch por Urgencia",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1120, 300],
      "notes": "Segundo Switch que demuestra c칩mo se pueden encadenar m칰ltiples switches para crear l칩gica compleja"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prioridad",
              "value": "游댮 URGENTE"
            },
            {
              "name": "accion",
              "value": "Procesar inmediatamente - Notificar al supervisor"
            }
          ]
        }
      },
      "id": "urgencia-alta",
      "name": "Urgencia Alta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1340, 180],
      "notes": "Procesamiento para pedidos de alta urgencia"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prioridad",
              "value": "游리 NORMAL"
            },
            {
              "name": "accion",
              "value": "A침adir a cola de procesamiento normal"
            }
          ]
        }
      },
      "id": "urgencia-media",
      "name": "Urgencia Media",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1340, 300],
      "notes": "Procesamiento para pedidos de urgencia media"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prioridad",
              "value": "游릭 BAJA"
            },
            {
              "name": "accion",
              "value": "Procesar cuando haya capacidad disponible"
            }
          ]
        }
      },
      "id": "urgencia-baja",
      "name": "Urgencia Baja",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1340, 420],
      "notes": "Procesamiento para pedidos de baja urgencia"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Datos del Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos del Pedido": {
      "main": [
        [
          {
            "node": "Switch por Categor칤a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por Categor칤a": {
      "main": [
        [
          {
            "node": "Procesar Electr칩nica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Ropa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Hogar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Libros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Otros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Electr칩nica": {
      "main": [
        [
          {
            "node": "Switch por Urgencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Ropa": {
      "main": [
        [
          {
            "node": "Switch por Urgencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Hogar": {
      "main": [
        [
          {
            "node": "Switch por Urgencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Libros": {
      "main": [
        [
          {
            "node": "Switch por Urgencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Otros": {
      "main": [
        [
          {
            "node": "Switch por Urgencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por Urgencia": {
      "main": [
        [
          {
            "node": "Urgencia Alta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Urgencia Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Urgencia Baja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
